# .github/workflows/ci.yml

name : ci

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: master

      - uses: actions/checkout@v6
        with:
          node-version-file: .nvmrc

      - name: Install Node.js dependencies
        run: npm ci

      - name: run tests
        run: npm test

      - name: run lint
        run: npm run lint